<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 mt-3">
      <% if signed_in? %>
        <div class="text-right">
          <%= link_to 'Crea un nuevo Post', new_post_path,
         class: "btn btn-primary" %>
        </div>
      <% end %>
      <% @posts.each do |post| %>
        <h2 class="mt-3"><%= link_to markdown(post.title), post %></h2>
        <p class="publish_by">Publicado por <%= post.user.email %> <%= time_ago_in_words(post.created_at) %></p>
        <!-- <p><%= markdown(post.content.truncate(250)) %></p>-->
        <p><%= markdown(post.content.truncate(250)) %></p>
        <div class="mb-5">
          <% if signed_in? && current_user == post.user %>
            <%= link_to " editar" , edit_post_path(post), class: "far fa-edit"%>
            <%= link_to ' eliminar', post, method: :delete, data: {confirm: "¿Estas de acuerdo?"}, class: "pl-1 far fa-trash-alt" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
